@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html,body{
min-height: 100%	
}

body{
font-family: 'Muli', sans-serif;}
header{
background: #303136;	
}
header h1{
color:#d7283f;	
}
nav{
background-color: #484a51;	
}

#navbarSupportedContent ul li{
background:#303136;	
}
#navbarSupportedContent ul li a{
color: #d7283f;	
padding: 20px 10px;
transition: .2s;
}
#navbarSupportedContent ul li a:hover{
background:#d6d7db;
}
.dropdown-item{
color: #000 !important;
padding: 10px 10px !important;	
}

.main{
  overflow-y:auto;
  padding-bottom:150px; 
}

.info{
background-color: #6c6f7a;
color: #fff;	
height: 600px;
}

.info h2{
background: #410c13;	
}
.info_habilidades li{
border-bottom: 1px solid transparent;
transition: .3s;	
}

.info_habilidades li:hover{
border-bottom-color: #000;
color:#fff;	
cursor: pointer;
}

.content h2{
background: #561019;
color: #fff;	
}

footer{
color:#d6d7db;
background: #0c0c0e;	

 position: relative;
  margin-top: -170px; /* negative value of footer height */
  height: 170px;
  clear:both;
  padding-top:20px;
}